/* html control */
html, body {
  height: 100%;
  margin: 0;
}

/* main container control */
.container {
  height: 100%;
  width: 100%;
  display: grid;

  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
    "header  sidebar"
    "content sidebar"
    "footer  sidebar";
}

/* header control */
header {
  grid-area: header;
  background-color: #2546A7;
  padding: 1rem;
  color: white;
}

/* main content control */
main {
  grid-area: content;
  background-color: #E4C4AD;
  padding: 1rem;
  color: white;
}

/* sidebar control */
aside {
  grid-area: sidebar;
  background-color: #13287C;
  padding: 1rem;
  color: white;
}

/* footer control */
footer {
  grid-area: footer;
  background-color: #151415;
  padding: 1rem;
  color: white;
}

/* ---------------------------------------------------- */

/* flex controls */
header.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ---------------------------------------------------- */

/* assets control */

/* header section */

/* search bar */
.search-bar-group {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    max-width: 300px;
    height: 35px;
    padding: 0.25rem 1rem;
    border: 1px solid #ccc;
    border-radius: 999px;
    background-color: white;
    gap: 50px;
}

/* search icon */
.search-icon {
    margin-right: 20px;
    height: 25px;
    width: 25px;
}

/* search input */
.search-bar input[type="search"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: transparent;
}

.welcome-message {
    display: flex;
    align-items: center;
}

/* profile picture */
.github-pfp {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* ---------------------------------------------------- */

/* main content area */

.content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
}

.content-card {
    background-color: blue;
    height: 450px;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* sidebar */

aside.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.dashboard-text {
    display: flex;
    justify-content: center;
}

.clipboard-icon {
    margin-right: 10px;
}

.home-text {
    display: flex;
    justify-content: center;
}

.home-icon {
    margin-right: 10px;
}

.profile-text {
    display: flex;
    justify-content: center;
}

.profile-icon {
    margin-right: 10px;
}

.projects-text {
    display: flex;
    justify-content: center;
}

.projects-icon {
    margin-right: 10px;
}

.about-me-text {
    display: flex;
    justify-content: center;
}

.about-me-icon {
    margin-right: 10px;
}

/* ---------------------------------------------------- */

